<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>Taskify | Login</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

    <div class="login-box">

    </div>
<div class="login-container">


    <div class="login-card">
        <img src="../static/assets/computerman.png" class="img" alt="taskify img">

        
        <h1> Taskify</h1>
        <p class="subtitle">Student Task Tracker</p>
        

        <form>
            <label>Username</label>
            <input type="text" placeholder="Enter your username">

            <label>Password</label>
            <input type="password" placeholder="Enter your password">

            <button>Login</button>
        </form>

        <p class="footer-text">Don't have an account? Contact admin</p>
    </div>

</div>

</body>
</html>
