<!DOCTYPE html>
<html>
    <head>
        <title>Attendancify</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <header class="header">
            <h1 class="logo-text">Attendancify</h1>
            <img src="../static/assets/logo.png" alt="Attendancify Logo">
        
            <nav>
                <ul class="nav-links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="/attendance">Mark Attendance</a></li>
                </ul>
            </nav>
        </header>
        
        <main>
            <header class="hero">
                <h1>Attendancify</h1>
                <h2>The Techie Attendance Site</h2>
                <a href="/attendance">Get Started</a>
            </header>
            <section>
                <h2>About US</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos porro ducimus dolor voluptas dignissimos minima ut possimus perspiciatis excepturi, ab sapiente error accusamus minus? Mollitia aliquam autem rerum nam aperiam!</p>
            </section>

            <section>
                <h2>How Does It Work?</h2>
                <article>
                    <h3>Use Withouht Login</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta animi porro earum blanditiis dolor, tempora ut ipsum officiis sunt autem eos praesentium reprehenderit labore vel amet, iste, esse beatae quisquam.</p>
                </article>
                <article>
                    <h3>Verify Your Attendance Status</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate, a tempore temporibus neque deleniti accusamus! Autem eum aut culpa sequi quas, id error atque harum officia debitis quaerat hic dolores!</p>
                </article>
                <article>
                    <h3>Publicly Accessible Database</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione tempore aspernatur repellendus totam in, asperiores delectus dolorum alias libero sunt molestiae suscipit cumque earum. Pariatur optio itaque voluptatibus? Vero, dicta?</p>
                </article>
            </section>

            <section>
                <h2>Why Attendancify</h2>
                <p>Attendancify is a Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius saepe, praesentium vitae neque nisi delectus vero odit beatae temporibus. Voluptate accusamus aut quidem distinctio similique eos officiis voluptates. Autem, dolorem?</p>
            </section>
        </main>
    <footer>
        <p>All Right Reserved 2026</p>
    </footer>
    </body>
</html>